@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #585c68;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.semi {
  font-weight: 600;
  font-size: 16px;
}

.resume {
  width: 800px;
  height: auto;
  display: flex;
  margin: 50px auto;
}

.resume .column_left {
  width: 280px;
  background: #0bb5f4;
}
.resume .title {
  margin-bottom: 20px;
}
.resume .column_left .content {
  padding: 0 25px;
}

.resume .column_left .bold {
  color: #fff;
}

.resume .column_left .regular {
  color: #b1eaff;
}

.resume .item_info {
  padding: 25px 0;
  border-bottom: 2px solid #b1eaff;
}

.resume .column_left .item_info:last-child {
  border-bottom: 0px;
}

.resume .column_left ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.resume .column_left .resume_skills ul li {
  color: #b1eaff;
  justify-content: space-between;
}

.resume .column_left .resume_skills ul li .skills_name {
  width: 25%;
}

.resume .column_left .resume_skills ul li .progress {
  width: 55%;
  margin: 0 5 px;
  height: 5px;
  background: #009fd9;
  position: relative;
}

.resume .column_left .resume_skills ul li .skills_percent {
  width: 15%;
}

.resume .column_left .resume_skills ul li .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
}

.resume .column_right {
  width: 520px;
  background: #fff;
  padding: 25px;
}

.resume .column_right .bold {
  color: #0bb5f4;
}

.resume .column_right .projects ul {
  padding-left: 40px;
  overflow: hidden;
}

.resume .column_right ul li {
  position: relative;
}

.resume .column_right ul li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.resume .column_right ul li .info {
  margin-bottom: 20px;
}

.resume .column_right ul li:last-child .info {
  margin-bottom: 0;
}
.resume .column_right .projects ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #0bb5f4;
}
.resume .column_right .projects ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 220px;
  background: #0bb5f4;
}
